body {
    font-family: 'Raleway', sans-serif;
}

.hero-1 {
    /* The image used */
    background-image: url(../images/estate.png);
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 100px 100px 100px #ffffff inset;
}

.hero-2 {
    /* The image used */
    background-color: white;
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-3 {
    /* The image used */
    background-image: url(../images/poem.png);
    /* Full height */
    height: 30vh;
    /* Center and scale the image nicely */
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-4 {
    /* The image used */
    background-color: white;
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2em 0 0 0;
}

#profile-pic {
    border-radius: 50%;
    box-shadow: inset 0 0 400px 400px #123456;
    display: block;
    margin: 0 auto 0 auto;
    height: 200px;
}

.nav-spacer {
    padding-right: 1em;
}

#logo {
    border-radius: 50%;
    height: 2em;
}

#logo-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 0 0 0.5em;
}

.hero-card-1 {
    display: block;
    width: 100%;
    margin-top: 0vh;
}

.footer {
    height: 3em;
    width: 100%;
    background-color: grey;
}

@media (min-width: 768px) {
    .hero-card-1 {
        display: block;
        margin-top: 50vh;
    }
    .hero-3 {
        height: 100vh;
    }
}